
<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   
   <title>Home - To do List</title>
</head>
<body>
   <div class="container">
      <div class="col-sm-offset-2 col-sm-8"><br><br>
         <div class="jumbotron" id="fondoApp">
            <h1>To-do List Application</h1><br>

               <div class="row">  
                  <div class="col-sm-offset-4 col-sm-4">
                     <form action="/home/newTaskInterface" method="post">
                        <button id="homeButtons" type="submit" class="btn btn-primary">Crear Tarea <span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                     </form>
                  </div>
               </div>

               <div class="row">  
                  <div class="col-sm-6">
                     <form action="/tareasCreadas" method="post">
                        <button id="homeButtons" type="submit" class="btn btn-primary">Tareas pendientes <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
                     </form>
                  </div>

                  <div class="col-sm-6">
                     <form action="/tareasCompletadas" method="post">
                        <button id="homeButtons" type="submit" class="btn btn-primary">Tareas Completadas <span class="glyphicon glyphicon-tags" aria-hidden="true"></span></button>
                     </form>
                  </div>
               </div>
         </div>       
      </div>    
   </div>
</body>
</html>