
<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Rock+Salt" rel="stylesheet">

   <title>To-do list application</title>
</head>
<body>
   <div class="container">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="thumbnail">
            <form action="/home" method="post">
                 <h1>BIENVENIDO</h1>
                 <img src="images/work.gif" alt="planning">
                 <p>
                   <button type="submit" class="btn btn-primary btn-lg">COMENZAR</button>
                 </p>
            </form>
          </div>
        </div>
   </div>
</body>
</html>